/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');
/* Colores */
:root{
    --color-gray: #A9A9A9;
    --color-main: #181719;
    --color-white: #FFFFFF;
}
/* Resetear estilos */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h1, h2, h3, p, li, a{
    color: var(--color-white);
}
/* Body */
body{
    margin: 42px 77px 0px;
    background-color: var(--color-main);
}
/* Header */
header{
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
}
.name{
    width: 102px;
    height: 32px;
    border: 1px solid var(--color-white);
}
.name h2{
    font-family: 'Crimson Pro', sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
}
.navbar ul{
    display: flex;
    justify-content: space-around
}
.navbar li{
    margin-left: 86px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
/* Main */
main{
    margin: 140px 0 0;
    display: flex;
    justify-content: space-between;
}
/* Text */
main .text{
    position: relative;
    top: 160px;
    max-width: 410px;
    min-width: 280px;
}
.text h2{
    font-family: Lora, sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
}
.text p{
    margin: 40px 0 48px;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px   
}
.text-relative{
    display: flex;
}
.text-relative p{
    margin: 0;
}
.text-relative span{
    margin: 5px 15px;
}
/* Imgs */
.img-container{
    max-width: 900px;
}
.card-description{
    width: 410px;
    height: 180px;
    padding: 23px;
    background-color: var(--color-main);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.card-description h2{
    width: 282px;
    margin-top: 11px;
    font-family: Lora;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: var(--color-white);
}
.profile{
    display: flex;
}
.profile-img{
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.profile-data{
    margin: 4px 20px;
}
.profile .profile-data h3{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.profile-data p{
    margin-top: 8px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
/* Footer */
footer{
    margin: 40px 0 0;
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-white);
}
/* Media Queries */
@media only screen and (max-width: 1024px) {
    body{
        margin: 30px 20px 0;
    }
    .navbar li{
        margin-left: 20px;
    }
}